
<div class="form bookings">
<h1>Booking cancelled</h1>
<br>
<p>Your booking has been successfully cancelled.</p>
<br>
<a asp-action="Index" class="btn btn-secondary">Back to list</a>
</div>

