@{
    ViewData["Title"] = "Discover Tokyo";
}


<div >
    <div>

        <section class="content">
            <h1>Get to know Tokyo with a range of most unforgettable experiences </h1>
            <br>
            <p>Book today to have a trip of a lifetime</p>
            <br>
            <span class="buttons">
                <a>Popular Excursions</a>
                <a>All Excursions</a>
            </span>
        </section>

    </div>
</div>


